:root {
	/*COLORS*/
	--Primary: #eb2f64;
	--Primary-light: #FF3366;
	--Primary-dark: #BA265D;
	--Grey-light-1: #faf9f9;
	--Grey-light-2: #f4f2f2; /*Default font color*/
	--Grey-light-3: #f0eeee;
	--Grey-light-4: #ccc;
	--Grey-dark-1: #333;
	--Grey-dark-2: #777;
	--Grey-dark-3: #999;
	
	/*Font sizes*/
	--Font-larger: 2.5rem;
	--Font-large: 2.2rem;
	--Font-medium: 1.5rem;
	--Font-small: 1.2rem;
	--Font-smaller: 1.0rem;

	/*Font weight*/
	--Font-lighter: 100;
	--Font-light: 400;
	--Font-bold: 600;

	/* Line height */
	--Line-tall: 3rem;
	--Line-medium: 2.5rem;

}