.cHotelBrief {
	display: flex;
	justify-content: space-between;
	background-color: var(--Grey-light-1);
	
	&__Container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-width: 22rem;
		&--right {
			width: 24rem;
		}
	}
	&__rating {
		display: flex;
		list-style: none;
		margin: 0;

	}
	&__icon {
		fill: var(--Primary);
		width: 1.5rem;
		height: 1.5rem;
	}
}

.cNav {
	color: var(--Grey-light-2);
	background-color: var(--Grey-dark-1);
	display: flex;
	flex-direction: column;

	justify-content: space-between;
	padding: 2rem 0;
	@mixin atTabPortr {
		padding: 0;
	}
	& ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  display: flex;
	  flex-direction: column;
	  @mixin atTabPortr {
		flex-direction: row;
		justify-content: space-around;
	  }

	}

	& li {
	  flex-grow: 1;
	  &:first-child a {
	  	background-color: var(--Primary-light);
	  }

	}

	& a {
	  display: flex;
	  align-items: center;
	  padding: 1.2rem;
	  text-decoration: none;
	  color: var(--Grey-light-1);
	  text-transform: uppercase;
	  font-size: var(--Font-medium);
	  @mixin atTabPortr {
	  	justify-content: center;
	  }

	  @mixin atPhone {
	  	flex-direction: column;
	  }
	}

	&__icon {
		fill: var(--Grey-light-2);
		width: 2.5rem;
		height: 2.5rem;
	}

	&__text {
		display: inline-block;
		margin-left: 1rem;
		@mixin atPhone {
			margin-top: 1rem;
			margin-left: 0;
		}
	}
	& p {
		text-align: center;
		padding: 0 1.2rem;
	}

	& a:hover {
	  background-color: var(--Primary-light);

	}
}


.cLogo {
	width: 5rem;
	line-height: 0;
	& img {
		max-width: 100%;
		display: block;
	}
}

.cSearchBox {
	height: 3.5rem;
	flex: 0 0 40%;
	display: flex;
	align-items: center;	
	justify-content: center;	
	
	@mixin atPhone {
		position: absolute;
		flex: 0 0 100%;
		width: 100%;
		top: 8rem;
	}
	&__search {
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		border-radius: 4%/50%;
		width: 90%;
		margin-right: -3.5rem;
		@mixin atPhone {
			border-radius: 100px;	
		}

		
		height: 100%;
		background-color: var(--Grey-light-2);
		border: solid 1px var(--Grey-light-2);
		padding: 1rem;
		font-size: var(--Font-medium);
		color: var(--Grey-dark-3);
		transition: all .1s;
		&:focus {
			outline: none;
			width: 100%;
		}
		&::placeholder {
			color: var(--Grey-dark-3);
			font-size: var(--Font-medium);
		}
	}

	&__icon-box {
		border: none;
		background-color: transparent;
		position: relative;
				
		&:focus{
			border: none;
			outline: none;
			top: 2px;

		}
	}

	&__icon {
		width: 2.0rem;
		height: 2.0rem;
		fill: var(--Grey-dark-3);
	}
}

.cPromo {
	display: inline-block;
	width: 33.333333%;
	min-width: 10rem;
	margin: 0;

}

.cScore {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--Primary-light);
	color: var(--Grey-light-2);
	font-size: var(--Font-larger);
	font-weight: var(--Font-lighter);
	text-align: center;
	height: 100%;
	padding: 0 2rem;
	&__score {
		display: block;
		margin-bottom: .2rem;
		font-weight: var(--Font-lighter);
	}

	&__votes {
		display: block;
		font-size: var(--Font-smaller);
	}
}

.cAvatar {
	display: inline-block;
	border-radius: 50%;
	height: 100%;
	&--small {
		width: 4rem;
		height: 4rem;
	}
}

.cReview {
	background-color: var(--Grey-light-1);
	&:not(:last-child) {
		margin-bottom: 3rem;
	}
	color: var(--Grey-dark-1);
	padding: 3rem;

	&__text {
		font-size: var(--Font-medium);
		line-height: var(--Line-medium);	
		padding: 0;
		margin: 0;
		margin-bottom: 2rem;
	}

	&__data {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__user {
		display: flex;
		align-items: center;
	}
	&__photo {
		border-radius: 50%;
	}
	&__user-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: 1rem;
	}
	&__user-name {
		text-transform: uppercase;
		font-size: var(--Font-small);
		font-weight: var(--Font-bold);
		margin-bottom: 1rem;
	}
	&__date {
		color: var(--Grey-dark-2);
	}
	&__rating {
		padding: 0;
		display: table;
		vertical-align: middle;
		font-size: var(--Font-large);
		color: var(--Primary);
		font-weight: var(--Font-lighter);
	}
}

.cFeatures {
	font-size: var(--Font-medium);
	color: var(--Grey-dark-1);
	font-weight: var(--Font-light);
	line-height: var(--Line-tall);
	border: 1px solid var(--Grey-light-4);
	border-right: none;
	border-left: none;
	column-count: 2;
	list-style: none;
	padding: 2rem 0 ;

	&__icon {
		width: var(--Font-small);
		height: var(--Font-small);
		fill: var(--Primary);
		margin-right: 1rem;
	}
}
.cBottom {
	display: flex;
	align-items: stretch;
	@mixin atTabPortr {
		flex-direction: column-reverse;
	}

	&__news {
		background-color: var(--Grey-light-1);
		padding: 3rem;
		text-align: center;
		
	}

	&__title {
			text-transform: uppercase;
			font-weight: 100;
			font-size: var(--Font-large);
			color: var(--Grey-dark-2);
			text-align: center;
			margin:0;
			margin-bottom: 3rem;	
		}
	&__buttons-box {
		display: block;
		position: relative;
		width: 24rem;
		padding: 3rem 0rem;
		background-color: red;
		margin:auto;
		overflow: hidden;
		background: linear-gradient(90deg, var(--Primary), 
									var(--Primary-dark) 95%);
		border-radius: 13%/50%;
		color: var(--Grey-light-1);

		& .book {
				top: 50%;
				left: 50%;
			}
		& .only {
			top: -100%;
			left: 50%;
		}

		&:hover {
			background: linear-gradient(-90deg, var(--Primary), 
									var(--Primary-dark) 95%);
			& .only {
				top: 50%;
				left: 50%;
			}
			& .book {
				top: 200%;
				left: 50%;
			}

		}
	}

	&__button {
		display: block;
		position: absolute;
		width: 100%;
		/* Center Position */
		transform: translate(-50%, -50%);	
			
		transition: all .2s;
		text-transform: uppercase;
		font-size: var(--Font-medium);
		
	}
}
.cFooter {
	background-color: var(--Grey-dark-1);
	padding: 12rem 3rem 0rem 3rem;

	@mixin atTabPortr {
		padding: 3rem;		
	}
	text-align: center;
	font-size: var(--Font-small);
	color: var(--Grey-light-1);
	&__text {
		text-transform: uppercase;
		font-weight: 100;
		font-size: var(--Font-large);
		color: var(--Grey-dark-2);
		text-align: center;
		margin:0;
		margin-bottom: 3rem;
	}
	
}


