* {
	box-sizing: border-box;
}
body {
	padding: 8rem 8rem;
	background-color: var(--Primary);
	@mixin atTabLands {
		padding: 0;
	}
}

.lHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	background-color: var(--Grey-light-1);
	@mixin atPhone {
		padding-top: 2rem;
		padding-bottom: 1rem;
		align-items: flex-start;
		height: 12rem;
	}
	&__logo {
		margin-left: 2rem;
	}

	&__right-side {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 6rem;
		cursor: pointer;
	}
	&__photo {
		display: flex;

		align-items: center;
		justify-content: space-between;
		padding: 2rem;
		height: 100%;
		box-sizing: border-box;
		margin-block-start: 0em;
	    margin-block-end: 0em;
	    margin-inline-start: 0px;
	    margin-inline-end: 0px;
		&:hover {
			background-color: var(--Grey-light-2);
		}
		

	}

	&__icon {
		fill: var(--Grey-dark-2);
		width: 2.5rem;
		height: 2.5rem;
	}

	&__icon-box {
		height: 100%;
		width: 5.5rem;
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		&:hover {
			background-color: var(--Grey-light-2);
		} 
	}

	&__caption {
		margin-left: 1rem;
		color: var(--Grey-dark-2);
		font-size: var(--Font-medium);
	}

	&__counter {
		display: flex;
		position: absolute;
		top: 10%;
		left:50%;
		align-items: center;
		justify-content: center;
		padding: .5rem;
		border-radius: 50%;
		background-color: var(--Primary);
		color: var(--Grey-light-1);

	}

}

.lTitle {
	margin-left: 2rem;
}




.lMain {
	flex-basis: 82%;
}

.lNav {
	flex-basis: 18%;
}

 
.lTestimonialItem {
	background-color: var(--Grey-light-1);
	padding: 1rem 3rem;
	&:not(:last-child) {
		margin-bottom: 3rem;
	}
	&__info {
		display: flex;
		justify-content: space-between;
	}
}

.lDetails {
	background-color: var(--Grey-light-3);
	padding: 4rem;
	display: flex;
	justify-content: space-between;

	@mixin atPhone {
		flex-direction: column;
	}

	&__column-right {
		flex-basis: 35%;
		display: flex;
		flex-direction: column;
		@mixin atPhone {
			align-items: center;
		}
	}

	&__column-left {
		background-color: var(--Grey-light-1);
		flex-basis: 60%;
		padding: 3rem 3rem;
	}
}

.lReviews {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 2rem;
	@mixin atPhone {
		display: flex;
		flex-direction: column;
		margin-top: 2rem;
		width: 70%;
	}
}

.lContainer {
	&--flex {
		display: flex;
		align-items: center;
	}
	&--main {
		display: flex;	
		@mixin atTabPortr {
			flex-direction:  column;
		}
	}
	
	&--photos {
		letter-spacing: 0;
		font-size: 0;
		line-height: 0;
	}
}
.lHotel-Score {
	width: 10rem;
	height: 8rem;
	background-color: red;

}

.lFriends {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 3rem;

	&__avatars {
		display: flex;
		list-style: none;
		padding: 0;
		margin:0;
		
		& img{
			height: 4rem;
			width: 4rem;
			border-radius: 50%;
			border: 3px solid white;
		}

		& li:not(:last-child) {
				margin-right: -2rem;	
			}
	}
}

.lClients {

}



