body {
	padding: 5rem 17rem;
	background-color: var(--Primary);
}

.lHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--Grey-light-1);
	padding: 1rem;
}

.lTitle {
	margin-left: 2rem;
}



.lMain {
	flex-basis: 82%;
}

.lNav {
	flex-basis: 18%;
}
 
.lTestimonialItem {
	background-color: var(--Grey-light-1);
	padding: 1rem 3rem;
	&:not(:last-child) {
		margin-bottom: 3rem;
	}
	&__info {
		display: flex;
		justify-content: space-between;
	}
}

.lDetails {
	background-color: var(--Grey-light-3);
	padding: 4rem;
	display: flex;
	justify-content: space-between;
}

.lTestimonials {
	list-style: none;
	padding: 0;
	margin: 0;
}


.lInfo {
	background-color: var(--Grey-light-1);
	flex-basis: 55%;
	padding: 1rem 3rem;

}


.lContainer {
	&--flex {
		display: flex;
		align-items: center;
	}
	&--main {
		display: flex;	
	}
	&--testimonials {
		flex-basis: 33%;
		display: flex;
		flex-direction: column;
	}
	&--photos {
		letter-spacing: 0;
		font-size: 0;
		line-height: 0;
	}
}
.lHotel-Score {
	width: 10rem;
	height: 8rem;
	background-color: red;

}

.lRecommendations {
	display: flex;
}

.lClients {

}

.lFooter {
	background-color: var(--Grey-light-1);
}

