html {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
}

.tTitle {
	text-transform: uppercase;
	font-weight: 100;
	font-size: var(--Font-large);
	color: var(--Grey-dark-2);
}

.tAddress {
	font-style: normal;
	
}

.tParagraph {
	font-size: var(--Font-medium);
	color: var(--Grey-dark-1);
	font-weight: var(--Font-light);
	line-height: var(--Line-medium);
	margin-bottom: 2rem;
	margin-top: 0;
	&--bold {

	}

	&--small {
		font-size: var(--Font-small);
	}

	&--taller {
		line-height: 3rem
	}

	&--low-line {
		line-height: 1rem;
	}

	&--no-top-margin {
		margin-top: 0;
	}

	&--grey-light {
		color: var(--Grey-light-1);
	}
}

.tColumns--2 {
	column-count:2;
}

.tVotes {
	
}

.tHr {

}

.tLink {
		color: var(--Primary);
		text-decoration: none;
		font-size: var(--Font-small);
		font-weight: var(--Font-bold);
}